<!DOCTYPE html>
<html lang="en" class="h-full bg-[#660033]">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Login</title>
</head>
<body class="h-full">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="https://web.augsburg.edu/marcomm/logo/Augsburg_A_1-color_Maroon.jpg"
         alt="Your Company" class="mx-auto h-10 w-auto" />
    <h2 class="mt-10 text-center text-2xl leading-9 font-bold tracking-tight text-white">
      Sign in to your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    <!-- Non-field errors -->
    {% if form.non_field_errors %}
      <ul class="mb-4 text-red-500 text-sm">
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Login Form -->
    <form action="{% url 'login' %}" method="POST" class="space-y-6">
      {% csrf_token %}

      <!-- Username input -->
      <div>
        <label for="{{ form.username.id_for_label }}" class="block text-sm leading-6 font-medium text-gray-100">
          Username
        </label>
        <div class="mt-2">
          {{ form.username }}
        </div>
        {% if form.username.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.username.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Password input -->
      <div>
        <div class="flex items-center justify-between">
          <label for="{{ form.password.id_for_label }}" class="block text-sm leading-6 font-medium text-gray-100">
            Password
          </label>
        </div>
        <div class="mt-2">
          {{ form.password }}
        </div>
        {% if form.password.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.password.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Submit button -->
      <div>
        <button type="submit"
                class="flex w-full justify-center rounded-md bg-[#000000] px-3 py-1.5 text-sm leading-6 font-semibold text-white hover:bg-[#666666] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          Sign in
        </button>
      </div>

    </form>

    <!-- Register button takes you to register.html -->
    <p class="mt-10 text-center text-sm text-gray-400">
      Don't have an account?
      <a href="{% url 'register' %}" class="font-semibold leading-6 text-white hover:text-gray-300">
        Sign up
      </a>



  </div>
</div>
</body>
</html>